footer 
    .line 
    section 
        div 
            div 
                div
                    .logo 
                        include ../../../dist/assets/images/Logo.svg
                        h5 Elias
                    p elias@elias-dev.ml 
                p Web designer and front-end developer
            div 
                h4 Media
                div.icons
                    include ../../../dist/assets/images/Github.svg
                    include ../../../dist/assets/images/Discord.svg
                    include ../../../dist/assets/images/Figma.svg
        p © Copyright 2022. Made by Elias