nav.close
    div 
        .logo
            img(src="./assets/images/Logo.svg", alt="logo")
            p stabug6
        .burger 
            img(src="./assets/images/Frame 60.svg", alt="burger-close")
    ul
        li
            a(href="") 
                span #
                |home
        li
            a(href="") 
                span #
                |works
        li
            a(href="") 
                span #
                |about-me
        li
            a(href="") 
                span #
                |contacts
    .media 
        //- line svg here
        include ../../../dist/assets/images/Github.svg
        include ../../../dist/assets/images/Figma.svg
        include ../../../dist/assets/images/Dribble.svg

        //- need icons here

.media-desktop 
        include ../../../dist/assets/images/Line 10 (Stroke).svg
        include ../../../dist/assets/images/Github.svg
        include ../../../dist/assets/images/Figma.svg
        include ../../../dist/assets/images/Dribble.svg